<a href="https://colab.research.google.com/github/BuddyPummy/chinnu/blob/main/day6_march17_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup=("apple","banana","cherry","orange","kiwi","melon","mango")
print(tup[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
print(tup[-5:-2])

('cherry', 'orange', 'kiwi')

In [ ]:
print(tup[1:6])

('banana', 'cherry', 'orange', 'kiwi', 'melon')

In [ ]:
print(tup[1:6])

In [ ]:
print(tup[-3:-1])

('kiwi', 'melon')

tuples are unchangeable , meaning that you cannot change, add , or remove items on

but there are some workarounds.

change tuple values
once a tuple is created , you cannot change its values . tuples are unchangeable,

but there is a workaround. you can convert the tuple into a list, change the list

exampleget your own

In [ ]:
x=("apple","banana","cherry")
y= list(x)
y[1]="kiwi"

In [ ]:
tup=("apple","banana","cherry","orange","kiwi","melon","mango")

In [ ]:
tup2=("adding",)

In [ ]:
print(tup+tup2)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'adding')

In [ ]:
tup +=tup2
print(tup)

('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'adding', 'adding')

In [ ]:
tup=("apple","banana","cherry","orange","kiwi","melon","mango")
y=list(tup)
y.remove("apple")
tup=tuple(y)
print(tup)

('banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
tup=("apple","banana","cherry","orange","kiwi","melon","mango")
if "apple" in tup:
    print("yes ,apple is in the fruits tuple")

yes ,apple is in the fruits tuple

In [ ]:
tup=("apple","banana","cherry","orange","kiwi","melon","mango")
if "watermelon" in tup:
    print("yes ,apple is in the fruits tuple")
else:
    print("no ,mentioned fruit is not in the fruits tuple")

no ,mentioned fruit is not in the fruits tuple