In [1]:
fruits=("apple","banana","cherry","strawberry","resberry")
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'resberry']

In [8]:
fruits=("apple","banana","cherry","strawberry","resberry")
print(fruits[1:5])

('banana', 'cherry', 'strawberry', 'resberry')

In [11]:
fruits=("apple","banana","cherry","orrange","kiwi","melon","mango")
print(fruits[:4])

('apple', 'banana', 'cherry', 'orrange')

In [12]:
fruits=("apple","banana","cherry","orrange","kiwi","melon","mango")
print(fruits[-4:-1])

('orrange', 'kiwi', 'melon')

In [14]:
fruits=("apple","banana","cherry","orrange","kiwi","melon","mango")
print(fruits[-4:-2])

('orrange', 'kiwi')

In [15]:
#tuples are unchangeable, meaning that you cannot change add or remove item one 
#but there are some workarround 
#once a tuple is created you cannot change its values tupes are unchangeable
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [16]:
x=("apple","banana","cherry")
y=list(x)
y.append("orrange")
x=tuple(y)
print(x)

('apple', 'banana', 'cherry', 'orrange')

In [17]:
x=("apple","banana","cherry","orrange")
y=("kiwi",)
x+=y
print(x)

('apple', 'banana', 'cherry', 'orrange', 'kiwi')

In [21]:
thistuple=("apple","banana","cherry","orrange")
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)
print(thistuple)

('banana', 'cherry', 'orrange')

In [22]:
thistuple=("apple","banana","cherry","orrange")
if "cherry" in thistuple:
    print("yes,'cherry'is in the above tuple")

yes,'cherry'is in the above tuple

In [23]:
fruits=("apple","banana","cherry","strawberry","resberry")
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'resberry']

if the number of variable is less than the number of values,you can add an *to the variable name and the value will be assighned to the variable as list:
examples get your own python server
assighn to the rest of the values as a list called "red":

In [25]:
fruits=("apple","banana","cherry","strawberry","resberry")
(green,*yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
resberry